/* Global */
/* ------------------------------------ */
@import "global/fonts.css";
@import "global/reboot.css";
@import "global/container.css";
@import "global/visually-hidden.css";

/* Blocks */
/* ------------------------------------ */
@import "blocks/header.css";
@import "blocks/hero.css";
@import "blocks/apartments.css";
@import "blocks/view.css" ;
@import "blocks/privacy.css" ;
@import "blocks/features.css" ;
@import "blocks/benefit.css";
@import "blocks/footer.css";
@import "blocks/socials.css";
