.retail-inner {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.retail-left {
  display: grid;
  grid-template-columns: 110px 398px;
  gap: 32px;
  justify-content: flex-end;
  padding: 120px 0px;
}

.retail-left__title {
  margin: 0;
  padding: 0;
  font-weight: 400;
  font-size: 60px;
  line-height: 70px;
  text-transform: uppercase;
  grid-column: 1 / span 2;
}

.retail-left__benefits-list {
  margin: 0;
  padding: 0;
  grid-column: 2/3;
}

.retail-left__price {
  background-color: #ffffff;
  border-radius: 8px;
  display: flex;
  color: #3c52e6;
  padding: 16px 15px 14px;
  text-align: center;
}

.retail-left__price-text {
  font-weight: 400;
  font-size: 16px;
  line-height: 18px;
  margin: 0;
  padding: 0;
}

.retail-left__price-text--big {
  font-weight: 400;
  font-size: 44px;
  line-height: 40px;
}

.retail-left__button {
  background-color: #23252e;
  border: none;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  color: #ffffff;
  padding: 14px 28px;
  width: 239px;
  height: 49px;
}
