/* Global */
/* ------------------------------------ */
@import "global/fonts.css";
@import "global/container.css";
@import "global/reboot.css";
@import "global/visually-hidden.css";

/* Blocks */
/* ------------------------------------ */
@import "blocks/header.css";
@import "blocks/promo-info.css";
@import "blocks/footer.css";
@import "blocks/btn.css";
