

.retail-left {
  display: grid;
  grid-template-columns: 110px 398px;
  gap: 32px;
  justify-content: flex-end;
  padding: 120px 0px;
}

.retail-left__title {
  margin: 0;
  padding: 0;
  font-weight: 400;
  font-size: 60px;
  line-height: 70px;
  text-transform: uppercase;
  grid-column: 1 / span 2;
}

.retail-left__title-text{
 display: block; 
}

.retail-left__benefits-list {
  margin: 0;
  padding: 0 0 0 16px;
  grid-column: 2/3;
  display: flex;
  flex-direction: column;
  gap: 4px;
}

.retail-left__item{
font-size: 16px;
font-weight: 400;
line-height: 18px;
}

.retail-left__price {
  background-color: #ffffff;
  border-radius: 8px;
  display: flex;
  color: #3c52e6;
  padding: 16px 15px 14px;
  text-align: center;
  margin: 0 0 28px;
}

.retail-left__price-text {
  font-weight: 400;
  font-size: 16px;
  line-height: 18px;
  margin: 0;
  padding: 0;
}

.retail-left__price-text--big {
  font-weight: 400;
  font-size: 44px;
  line-height: 40px;
}




